{% extends 'base.html' %}

{% block content %}

    <section class="container">
        <div class="content-wrap">
            <div class="content">
                {# 轮播图部分 #}
                <div id="focusslide" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                        <li data-target="#focusslide" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for banner in banner_list %}
                            {% if banner.is_active %}
                                <div class="item active">
                                    <a href="#" target="_blank" title="{{ banner.title }}">
                                        <img src="/{{ banner.img }}"
                                             alt="{{ banner.title }}"
                                             class="img-responsive"></a>
                                </div>
                            {% else %}
                                <div class="item">
                                    <a href="#" target="_blank" title="{{ banner.title }}">
                                        <img src="/{{ banner.img }}"
                                             alt="{{ banner.title }}"
                                             class="img-responsive"></a>
                                </div>
                            {% endif %}
                        {% endfor %}


                    </div>
                    <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
                            class="sr-only">上一个</span> </a> <a class="right carousel-control" href="#focusslide"
                                                               role="button" data-slide="next" rel="nofollow"> <span
                        class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span
                        class="sr-only">下一个</span> </a></div>
                {# 这里是博客推荐部分 #}
                {% for post in recomment_list %}
                    <article class="excerpt-minic excerpt-minic-index">
                        <h2><span class="red">【推荐】</span><a target="_blank" href="{% url 'blog:show' post.id %}"
                                                            title="{{ post.title }}">{{ post.title }}</a>
                        </h2>
                        <p class="note" id="recommend">{{ post.content|safe }}</p>
                    </article>
                {% endfor %}



                <div class="title">
                    <h3>最新发布</h3>
                    <div class="more">
                        {% for bl in blogcategory %}
                            <a href="{% url 'blog:blog_list' bid=bl.id %}" title="{{ bl.name }}">{{ bl.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {# 这里是博客的最近发布状态 #}
                {% include 'post_list.html' %}


                <nav class="pagination">
                    <ul>
                        {% if lp == 1 %}
                            <li class="prev-page"><a href="{% url 'blog:list' pIndex|add:-1 %}">上一页</a></li>
                        {% endif %}

                        {% for page_num in page_num_list %}
                            <li class="active"><a href="/blog/list/{{ page_num }}">{{ page_num }}</a></li>
                        {% endfor %}

                        {% if np == 1 %}
                            <li class="next-page"><a href="{% url 'blog:list' pIndex|add:1 %}">下一页</a></li>
                        {% endif %}

                        <li><span>共 {{ all }} 页</span></li>
                    </ul>
                </nav>
            </div>
        </div>
        <aside class="sidebar">
            <div class="fixed">
                <div class="widget widget-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab"
                                                                  data-toggle="tab">统计信息</a></li>
                        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab"
                                                   data-toggle="tab">联系站长</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane contact active" id="notice">
                            <h2>日志总数:
                                {{ blog_all }}篇
                            </h2>
                            <h2>网站运行:
                                <span id="sitetime">88天 </span></h2>
                        </div>
                        <div role="tabpanel" class="tab-pane contact" id="contact">
                            <h2>QQ:
                                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=577211782&amp;site=qq&amp;menu=yes"
                                   target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title=""
                                   data-original-title="QQ:577211782">577211782</a>
                            </h2>
                            <h2>Email:
                                <a href="mailto:577211782@qq.com" target="_blank" data-toggle="tooltip" rel="nofollow"
                                   data-placement="bottom" title="" data-original-title="Email:577211782@qq.com">577211782@qq.com</a>
                            </h2>
                        </div>
                    </div>
                </div>
                {# 这里shi 博客的搜索功能 #}
                {% include 'search.html' %}
            </div>

            {# 这里是 文章最新评论的地方 #}
            {% include 'comment_poster.html' %}
        </aside>
    </section>
{% endblock content %}

<script src="/static/js/bootstrap.min.js"></script>
{#<script src="/static/js/jquery.ias.js"></script>#} {# 这里是js的一个插件，作用是向上刷新，显示多次以上的内容 #}
<script src="/static/js/scripts.js"></script>
</body>
</html>
